@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
.navbar {
  height: 80px;
  justify-content: start;
  align-items: center;
  padding: 0;
}

.menu-bars {
  margin-left: 1rem;
  font-size: 2rem;
  background:none;
}

.nav-menu {
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.navbar-toggle {
  margin-left: auto;
  height: 80px;
  justify-content: end;
  align-items: center;
}
